<a href="https://colab.research.google.com/github/Samyakrastogi/Python/blob/main/Chapter_4(Lists).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1)
Ans.

In [ ]:

list1 = []
for i in range (7):
  a = input("Enter a fruit name: ")
  list1.append(a)
print(list1)

Enter a fruit name: apple
Enter a fruit name: banana
Enter a fruit name: mango
Enter a fruit name: guava
Enter a fruit name: grapes
Enter a fruit name: pear
Enter a fruit name: peach
['apple', 'banana', 'mango', 'guava', 'grapes', 'pear', 'peach']

Q2)
Ans

In [ ]:
list1 = []
for i in range (6):
  a = input("Enter marks : ")
  list1.append(a)
print("Unsorted list -->",list1)
list1.sort()
print("Sorted List -->",list1)

Enter marks : 23
Enter marks : 56
Enter marks : 89
Enter marks : 48
Enter marks : 10
Enter marks : 97
Unsorted list --> ['23', '56', '89', '48', '10', '97']
Sorted List --> ['10', '23', '48', '56', '89', '97']

Q3)
Ans.

In [ ]:
tp = (10,20,30,40)
print(tp[1])
tp[2] = 90
print(tp)

20

TypeError: ignored

In [ ]:
l1 = int(input("Enter number 1 :"))
l2 = int(input("Enter number 2 :"))
l3 = int(input("Enter number 3 :"))
l4 = int(input("Enter number 4 :"))
list1 = [l1,l2,l3,l4]
print(list1)
print(l1 + l2 + l3 +l4)
print(sum(list1))

Enter number 1 :10
Enter number 2 :20
Enter number 3 :30
Enter number 4 :40
[10, 20, 30, 40]
100
100

In [ ]:
a = (7, 0, 8, 9, 0, 8)
x = a.count(0)
print(x)

2